.navbar {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #333;
    color: #f1efef;

    border-radius: 100px;
}

.nav-list {
    display: flex;
    gap: 2vw;
    list-style: none;
    padding: 2%;
    display: flex;
}

.nav-list li {
    padding: 1%;
}

.nav-list li a {
    text-decoration: none;
    color: #fff;
}

.nav-list li a:hover {
    background-color: #555;
}
